<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CMS.Client.styles.css" asp-append-version="true" />
</head>
<body class="sb-nav-fixed">
    @Html.Partial("~/Views/Shared/Header.cshtml")
    <div id="page-wrapper">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)

    
     <script src="~/plugin/ckeditor/ckeditor.js"></script>
    @RenderSection("DoanJS", false);
</body>
</html>
