@{
    ViewData["Title"] = "Home";
}

<link href="~/css/home.css" rel="stylesheet" />
<div class="text-center">
    <div id="frontpage-banner">
        <div id="frontpage-banner-content">
            <h2 class="pb-4 pl-3 mb-3">FPT EDUCATION</h2>
            <h3 class="mb-3"> COURSE MANAGEMENT SYSTEM</h3>
            <a href="course/" class="m-3 btn btn-primary" role="button">Learn more</a>
        </div>
    </div>

</div>
